.reset-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.reset-password-section {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 1px 1px 7px #888888;
  padding: 1rem 1rem;
  width: 50%;
  h2 {
    margin: auto;
    text-transform: capitalize;
  }
}
